{% extends "base.html.twig" %}
{%  block title %} Liste d'articles {% endblock %}
{% block body %}

{#<ul>
    {%for k,p in art%}
        <li>{{ k }}-{{ p }}<br> </li>
    {% endfor %}
</ul>
<a href ="{{ path ('blog') }}">lien</a>
#}

<ul>
    {%for k,p in art%}
        <li>{{ k }}-{{ p }}<br> </li>
    {% endfor %}
</ul>
<a href ="{{ path ('articles') }}">lien</a>
{% endblock %}